# Ignore all files without extension by default
*
!*.*

# Allow specific files with no extension
!Makefile
!makefile
!*/

# ignore specific files
*.aux
*.log
*.o
*.out
vgcore.*
*.pro.user
*.a
*.so
*.pro.user
*-Debug
.qmake.stash
